[Unit]
Description=your desc
Documentation=https://link-to-docs
[Service]
ExecStart=/apps/{{appName}}/server/node_modules/coffeescript/bin/coffee /apps/{{appName}}/server/index.coffee
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=app-{{appName}}
User={{userName}}
Group={{groupName}}
Environment="APP_ENV=production"

[Install]
WantedBy=multi-user.target
